<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Codeopticon</title>
    <link href="/style/app.css" rel="styleSheet" type="text/css" />
  </head>
  <body>
    {{{body}}}
    {{> footer }}
    <script defer src="components/jquery/dist/jquery.min.js"></script>
    <script defer src="components/handlebars/handlebars.min.js"></script>
    <script defer src="scripts/app.js"></script>
  </body>
</html>
