<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Codeopticon</title>
    <link href="/style/app.css" rel="styleSheet" type="text/css" />
  </head>
  <body>
    {{{body}}}
    {{> footer }}
  </body>
</html>
