<form id="addSpy" method="POST" action='/api/spies'>
  <label for="githubFile">Github file</label>
  <input type="text" name="githubUrl"></input>
  <input type="submit" value="Watch"></input>
</form>
